@import url('../../global.css');
* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg);
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    max-width: 1600px;
    width: 98%;
    margin: 1.5rem auto;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
}

@media (max-width: 1200px) { 
    .container { 
        grid-template-columns: 1fr; 
    } 
}